[Unit]
Description=Cortex-Tenant
Documentation=https://github.com/mia-platform/cortex-tenant
Wants=network-online.target
After=network-online.target

[Service]
Restart=on-failure
User=gitlab-prometheus
Environment=AUTH_USER_PASS=user:password
ExecStart=/usr/bin/cortex-tenant -config /etc/cortex-tenant.yml
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=65

[Install]
WantedBy=multi-user.target
